#footer {
	width: 100%;
	background-color: #e3e3e3;
	bottom: 0%;
	padding: 80px 10px;
	color: #333;
	margin-top: 20px;
}
#footer p {
  text-align: center;
	margin: 10px 0;
  font-size: 1.5em;
}

#footer ul {
  list-style: none;
}

#footer li {
  /*display: inline-block;*/
}

#footerLogo {
  margin-bottom: 50px;
}
#footerLogo img:hover {
    opacity: 0.7;
}

#imgCodigos {
  background-size: cover;
  background-position: 50%;
}
