body {
	font-family: sans-serif;
}

.redondeado {
  border-radius: 4px;
}

.margenAbajo {
  margin-bottom: 10px;
}
.margenArriba {
  margin-top: 10px;
}

.margen {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*para calendario*/
.datepick-ctrl {
  background-color: #F2F2F2;
}
